#carousel > *{
	/*height: 250px;*/
	color: black;
	box-sizing: border-box;
}

#carousel_wrap{
	position: relative;
}

#controller{
/*	position: absolute;
	top: 0px;
	right: 0px;
	
	border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	-moz-border-radius: 0 0 0 6px;
*/
}

#controller a{
	display: inline-block;
/*	background-color: white;
	color: black;
	font-size: .75em;
*/	
	text-decoration: none;
	
	margin: 0 .25em;
	overflow: hidden;
	
	height: 2em;
	width: 2em;
	
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

#controller a.activeSlide, #controller a:hover{
/*	background-color: black;
	color: white; */
}

#slide_content{
	box-sizing: border-box;
}

#slide_content p{
	max-height: 80%;
}

#slide_image{
	background-repeat: no-repeat;
	height: 100%;
}

#s_*{
	height: 100%;
}
